*.mp4
*.pyc
__pycache__/
*.cfg
LICENSE
train*
*.weights
*.h5
*.jpg
datawait/
detectorpkg/
evidences/*
face_lib/*
font/
logs/*
model/facenet_model/
model/ONet/
model/PNet/
model/RNet/
model/__pycache__/
model_data/*anchors.txt
mydata/*
test/
test_image/*
yolo3/__pycache__/
.idea/
*.MOV
